<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleExecutable</key>
  <string>evm</string>
  <key>CFBundleIdentifier</key>
  <string>evm.tech.justagod</string>
  <key>CFBundleName</key>
  <string>BasePC 2.0</string>
  <key>CFBundleIconFile</key>
  <string>ussr.icns</string>
  <key>CFBundleShortVersionString</key>
  <string>0.01</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>IFMajorVersion</key>
  <integer>0</integer>
  <key>IFMinorVersion</key>
  <integer>1</integer>
  <key>LSMinimumSystemVersion</key>
  <string>10</string>
</dict>
</plist>